{{#if true}}
  <form>
    <label for="category">Choose a listing category:</label>
    <select onchange={{action (mut selectedCategory) value="target.value"}}>
      <option value="category" disabled>Choose a category</option>
      {{#each model.categories as |category|}}
        <option value={{category.id}} selected={{eq selectedCategory category}}>{{category.name}}</option>

      {{/each}}
    </select>

  </form>
{{/if}}

{{#each model.categories as |category|}}
  {{#if (eq category.id selectedCategory)}}
  <form>
    <label for="subcategory">Choose a listing subcategory:</label>
    <select onchange={{action (mut selectedSubcategory) value="target.value"}}>
      <option value="subcategory" disabled>Choose a subcategory</option>

      {{#each category.subcategories as |subcategory|}}
        <option value={{subcategory.id}} selected={{eq selectedSubcategory subcategory}}>{{subcategory.name}}</option>
      {{/each}}
    </select>
  </form>

  {{/if}}
{{/each}}

<br><br>

{{#each model.subcategories as |subcategory|}}
  {{#if (eq subcategory.id selectedSubcategory)}}
    <div class="container">
      <div class="row">
        <form>
          <label for="title">Title</label>
          {{input class="form-control" value=title id='title'}}

          <label for="name">Name</label>
          {{input class="form-control"value=name id='name'}}

          <label for="email">Email</label>
          {{input class="form-control" value=email id='email'}}

          <label for="location">Location</label>
          {{input class="form-control" value=location id='location'}}

          <label for="details">Details</label>
          {{textarea class="form-control" value=details id='details'}}

          <label for="image">Image</label>
          {{input class="form-control" value=image id='image'}}
          <br>
          <button class="btn btn-default" {{action 'saveListing' subcategory}} >Submit</button>
        </form>
      </div>
    </div>
  {{/if}}
{{/each}}
