{{#if editMe}}
  <div class="row">
    <div class="col-xs-7">
      <h4>{{input value=listing.title id="title" class="form-control"}}</h4>
      <h4>{{input class="form-control" value=listing.name id="name"}} {{input class="form-control" value=listing.email id="email"}}</h4>
      <h4>{{input class="form-control" value=listing.location id="location"}}</h4>
      <h4><span><small>{{moment-from-now listing.date}}</small></span></h4>
      <h4>{{input class="form-control" value=listing.image id="image"}}</h4>
    </div>
    <div class="col-xs-5">

    </div>
  </div>
  <div class="row">
    <img src={{listing.image}} alt="Listing Image" class='col-xs-5'>
    <div class="col-xs-7 text-center">
      <br>
      <h4>{{textarea class="form-control" value=listing.details id="details"}}</h4>
      <br>
      <br>
      <br>
      <button class="btn btn-primary" style="margin-top: 15px;" {{action 'update' listing}}>save</button>
      <button class="btn btn-default" style="margin-top: 15px;" {{action 'hideEditMe'}}>cancel</button><br><br>
      <button class="btn btn-danger" {{action 'delete' listing}}>delete listing</button>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="col-xs-10">
      <h2>{{listing.title}}</h2>
      <h4>contact: {{listing.name}}, {{listing.email}}</h4>
      <h4>{{listing.location}}</h4>
      <h4><span><small>{{moment-from-now listing.date}}</small></span></h4>
      <br>
    </div>
    <div class="col-xs-2 text-right">
      <button class="btn btn-default" style="margin-top: 10px;" {{action 'showEditMe'}}><span class="glyphicon glyphicon-pencil"></span></button>
    </div>
  </div>
  <div class="row">
    <img src={{listing.image}} alt="Listing Image" class='col-xs-5'>
    <div class="col-xs-7 text-center">
      <br>
      <h5>{{listing.details}}</h5>
    </div>
  </div>
{{/if}}
