<img src={{listing.image}} alt="Listing Image" class='col-xs-6'>
<div class="col-xs-6">
  <div class="text-right">
    <p><small>{{moment-from-now listing.date}}</small></p>
  </div>
  <h2>{{listing.title}}</h2>
  <h4>{{listing.name}} - {{listing.email}}</h4>
  <br>
  <p>{{listing.details}}</p>
</div>
